*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-padding-top: 100px !important;
	scroll-behavior: smooth;
}

.bg-cover-center {
	background-position: center center !important;
	background-size: cover !important;
	/* background-repeat: no-repeat; */
}

.quote {
	position: relative;
}

.quote:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -40px;
	color: #7a7a7a;
}
.quote:after {
	display: block;
	padding-left: 10px;
	content: "\201D";
	font-size: 80px;
	position: absolute;
	right: -10px;
	top: 40%;
	color: #7a7a7a;
}
